
6g/2048/.vscode/settings.json
6g/2048/2048/2048.fsproj
6g/2048/2048/obj/2048.fsproj.nuget.dgspec.json
6g/2048/2048/obj/2048.fsproj.nuget.g.props
6g/2048/2048/obj/2048.fsproj.nuget.g.targets
6g/2048/2048/obj/project.assets.json
6g/2048/2048/obj/project.nuget.cache
6g/2048/2048/Program.fs
6g/2048/bin/Debug/net6.0/2048.deps.json
6g/2048/bin/Debug/net6.0/2048.dll
6g/2048/bin/Debug/net6.0/2048.exe
6g/2048/bin/Debug/net6.0/2048.pdb
6g/2048/bin/Debug/net6.0/2048.runtimeconfig.json
6g/2048/bin/Debug/net6.0/canvas.dll
6g/2048/bin/Debug/net6.0/cs/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/de/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/es/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/fr/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/FSharp.Core.dll
6g/2048/bin/Debug/net6.0/it/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/ja/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/ko/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/pl/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/pt-BR/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/ru/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/runtimes/linux-x64/native/libSDL2.so
6g/2048/bin/Debug/net6.0/runtimes/osx-arm64/native/libSDL2.dylib
6g/2048/bin/Debug/net6.0/runtimes/osx-x64/native/libSDL2.dylib
6g/2048/bin/Debug/net6.0/runtimes/win-x64/native/SDL2.dll
6g/2048/bin/Debug/net6.0/runtimes/win-x86/native/SDL2.dll
6g/2048/bin/Debug/net6.0/StbImageSharp.dll
6g/2048/bin/Debug/net6.0/StbImageWriteSharp.dll
6g/2048/bin/Debug/net6.0/tr/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/zh-Hans/FSharp.Core.resources.dll
6g/2048/bin/Debug/net6.0/zh-Hant/FSharp.Core.resources.dll
6g/2048/obj/2048.fsproj.nuget.dgspec.json
6g/2048/obj/2048.fsproj.nuget.g.props
6g/2048/obj/2048.fsproj.nuget.g.targets
6g/2048/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.fs
6g/2048/obj/Debug/net6.0/2048.AssemblyInfo.fs
6g/2048/obj/Debug/net6.0/2048.AssemblyInfoInputs.cache
6g/2048/obj/Debug/net6.0/2048.assets.cache
6g/2048/obj/Debug/net6.0/2048.dll
6g/2048/obj/Debug/net6.0/2048.fsproj.AssemblyReference.cache
6g/2048/obj/Debug/net6.0/2048.fsproj.CopyComplete
6g/2048/obj/Debug/net6.0/2048.fsproj.CoreCompileInputs.cache
6g/2048/obj/Debug/net6.0/2048.fsproj.FileListAbsolute.txt
6g/2048/obj/Debug/net6.0/2048.genruntimeconfig.cache
6g/2048/obj/Debug/net6.0/2048.pdb
6g/2048/obj/Debug/net6.0/apphost.exe
6g/2048/obj/fsac.cache
6g/2048/obj/project.assets.json
6g/2048/obj/project.nuget.cache
6g/2048/program.fsx
Gruppe-Opgave-1-opg2-.fsproj
Hvem laver havad.txt
Hvem laver hvad.txt
Library 2/app/app.fsproj
Library 2/app/Library2.fs
Library 2/app/Library2.fsi
Library 2/app/obj/app.fsproj.nuget.dgspec.json
Library 2/app/obj/app.fsproj.nuget.g.props
Library 2/app/obj/app.fsproj.nuget.g.targets
Library 2/app/obj/Debug/net6.0/app.AssemblyInfo.fs
Library 2/app/obj/Debug/net6.0/app.AssemblyInfoInputs.cache
Library 2/app/obj/Debug/net6.0/app.assets.cache
Library 2/app/obj/Debug/net6.0/app.fsproj.AssemblyReference.cache
Library 2/app/obj/fsac.cache
Library 2/app/obj/project.assets.json
Library 2/app/obj/project.nuget.cache
Library 2/app/Program.fsx
Library.fs
obj/Debug/net6.0/Gruppe-Opgave-1-opg2-.AssemblyInfo.fs
obj/Debug/net6.0/Gruppe-Opgave-1-opg2-.AssemblyInfoInputs.cache
obj/Debug/net6.0/Gruppe-Opgave-1-opg2-.assets.cache
obj/Debug/net6.0/Gruppe-Opgave-1-opg2-.fsproj.AssemblyReference.cache
obj/fsac.cache
obj/Gruppe-Opgave-1-opg2-.fsproj.nuget.dgspec.json
obj/Gruppe-Opgave-1-opg2-.fsproj.nuget.g.props
obj/Gruppe-Opgave-1-opg2-.fsproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
8g/CyclicQueue/obj/fsac.cache
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.fsproj.AssemblyReference.cache
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.AssemblyInfoInputs.cache
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.AssemblyInfo.fs
6g/2048/2048/obj/Debug/net6.0/2048.fsproj.AssemblyReference.cache
6g/2048/2048/obj/Debug/net6.0/2048.AssemblyInfoInputs.cache
6g/2048/2048/obj/Debug/net6.0/2048.AssemblyInfo.fs
8g/CyclicQueue/bin/Debug/net6.0/cs/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/CyclicQueue.deps.json
8g/CyclicQueue/bin/Debug/net6.0/CyclicQueue.dll
8g/CyclicQueue/bin/Debug/net6.0/CyclicQueue.exe
8g/CyclicQueue/bin/Debug/net6.0/CyclicQueue.pdb
8g/CyclicQueue/bin/Debug/net6.0/CyclicQueue.runtimeconfig.json
8g/CyclicQueue/bin/Debug/net6.0/de/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/es/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/fr/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/FSharp.Core.dll
8g/CyclicQueue/bin/Debug/net6.0/it/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/ja/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/ko/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/pl/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/pt-BR/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/ru/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/tr/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/zh-Hans/FSharp.Core.resources.dll
8g/CyclicQueue/bin/Debug/net6.0/zh-Hant/FSharp.Core.resources.dll
8g/CyclicQueue/obj/CyclicQueue.fsproj.nuget.dgspec.json
8g/CyclicQueue/obj/CyclicQueue.fsproj.nuget.g.props
8g/CyclicQueue/obj/CyclicQueue.fsproj.nuget.g.targets
8g/CyclicQueue/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.fs
8g/CyclicQueue/obj/Debug/net6.0/apphost.exe
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.assets.cache
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.dll
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.fsproj.CopyComplete
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.fsproj.CoreCompileInputs.cache
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.fsproj.FileListAbsolute.txt
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.genruntimeconfig.cache
8g/CyclicQueue/obj/Debug/net6.0/CyclicQueue.pdb
8g/CyclicQueue/obj/project.assets.json
8g/CyclicQueue/obj/project.nuget.cache
